<div class="container" style="border-style: solid;">
  <%= form_for [@product] do |t| %>
    <div class="row enter_row">
      <div class="col-sm">
        <%= t.label :name %>
      </div>
      <div class="col-sm">
        <%= t.text_field :name %>
      </div>
    </div>
    <div class="row enter_row">
      <div class="col-sm">
        <%= t.label :cost %>
      </div>
      <div class="col-sm">
        <%= t.text_field :cost %>
      </div>
    </div>
    <div class="row enter_row">
      <div class="col-sm">
        <%= t.label :country %>
      </div>
      <div class="col-sm">
        <%= t.text_field :country %>
      </div>
    </div>
    <div class="row enter_row">
        <%= t.submit %>
    </div>
  <% end %>
</div>
