<div class="container">


  <%= form_for [@product] do |t| %>
    <%= t.label "Enter Product Name" %>
    <%= t.text_field :name %>
    <br>
    <%= t.label "Enter Product Cost : $" %>
    <%= t.text_field :cost %>
    <br>
    <%= t.label :country %>
    <%= t.text_field :country %>
    <br>
    <%= t.submit %>
  <% end %>

</div>
