<h1>make a new product</h1>

<%= render 'products/form' %>

<h2>here are some products</h2>

<% @products.each do |product| %>

<div class="container item_div">
  <%=product.name%>
  Cost ($) : <%=product.cost%>
  From : <%=product.country%>
  <br>
    reviews : <%= product.reviews.length %>
    average rating : <%= ((product.reviews.pluck(:rating).sum)/(product.reviews.length)).round(2) %>
    <%= link_to "Click here to see product details", product_path(product) %>
</div>

<% end %>


<h2>All products</h2>
<a href="/">all</a>
