<%= link_to "Return Home", products_path %>

<h2>here are ALL products</h2>

<% @products.each do |product| %>

<div class="container item_div">
  <%=product.name%>
  Cost ($) : <%=product.cost%>
  From : <%=product.country%>
  <br>
    reviews : <%= product.reviews.length %>
    <%= link_to "Click here to see product details", product_path(product) %>
</div>

<% end %>
