<h1>make a new product</h1>

<%= render 'products/form' %>

<h2>here are some products</h2>

<% @products.each do |product| %>

<div class="container item_div">
  <%=product.name%>
  Cost ($) : <%=product.cost%>
  From : <%=product.country%>
  <br>
    reviews : <%= product.reviews.length %>
    <%= link_to product, product_path(product) %>
</div>

<% end %>
