<h1>make a new product</h1>

<%= render 'products/form' %>

<h2>here are some products</h2>

<% @products.each do |product| %>

<div class="container item_div">
  <%=product.name%>
  Cost ($) : <%=product.cost%>
  From : <%=product.country%>
    <% product.reviews.each do |review| %>
    <p><%= review.author_name %> <%= review.rating%></p>
    <p>"<%= (review.review_text).to_s%>"</p>
    <%end%>
</div>

<% end %>
